.card{

}
.on{
    width: 20rem;
}
.on1{
    margin-top: 23px;
    width: 20REM;
    height: 21rem;
}
 .head .up{
     height: 154px;
     position: absolute;
     margin:0px 0px 34px 63px ;
    font-size: 83px;
}
footer{
    display: flex;
    justify-content: space-between;
}
.head{
    background:green;
}